/plugins/clients/
/plugins/dist/

/plugins/lib/
/plugins/misc/
/plugins/tools/

/plugins/build-common-plugin.xml
/plugins/build-common-plugins.xml
/plugins/build-common.xml
/plugins/build.properties
/plugins/build.*.properties
/plugins/build.xml
/plugins/copyright.txt
/plugins/summary.html
/plugins/summary.xml
/plugins/summary.xsl
/plugins/.project

/plugins/*/build-common-*.xml
/plugins/*/build.xml

/plugins/themes/*/docroot/css/
/plugins/themes/*/docroot/js/
/plugins/themes/*/docroot/images/
/plugins/themes/*/docroot/templates/
/plugins/themes/*/docroot/fonts/
/plugins/themes/readme.txt

*classes/
*.settings/
*.classpath
*.bat
*.sh
**/.svn/
*target/